<p>gen-select works!</p>
<h4>Basic mat-select</h4>
<mat-form-field appearance="fill" style="background: rgb(90, 3, 161);left: 10%;">
  <mat-label style="color: rgb(40, 218, 5);">Game</mat-label>
  <mat-select [(value)]="choice">
    <mat-option #gameselect *ngFor="let game of games" [value]="game" style="color: rgb(40, 218, 5);">
      {{game}}
    </mat-option>
  </mat-select>
</mat-form-field>
<br>
<br>
<button mat-flat-button color="primary" style="left: 10%;" (click)="SetGame(choice)">Begin The Run!</button>
